.banner
  position relative
  size(100%, 560px)
  z-index: -1;

  .banner-img
    z-index -1
    size(100%)
    absolute(0, 0, 0, 0)


.banner-content
  text-align center
  font-family SourceSansPro
  color #fff

  &__title
    display block
    margin-top 63px
    font-family PTSans
    font-size rem(35px)
    line-height 1.34

  .service-list
    margin 99px auto 0
    size(100%, inherit)
  .icon
    size(59px, 59px)
    fill transparent
    stroke #fff
  .service-title
    font-size rem(24px)
  .service-description
    font-size rem(14px)
