.houserooms
  size(100%, auto)
  &-header
    display flex
    justify-content space-between
    margin-bottom 20px
    h4
      display flex
      align-items flex-start
      font-family SourceSansPro
      font-size rem(28px)
      text-align left
      color #42484b
    &__button
      display flex
      align-items center
      justify-content center
      width: 260px;
      height: 45px;
      border-radius: 2px;
      border: solid 1px #33beca
      font-family: SourceSansPro;
      font-size: 18px;
      text-align: center;
      color: #33beca;