.housing-banner
	img(src="static/img/content/index/bg-1@2x.png").housing-banner-img
	a(href="#").get-offer % ПОЛУЧИТЬ ЛУЧШЕЕ ПРЕДЛОЖЕНИЕ
	.container
		.housing-banner-content
			.row
				p.bread-crumbs
					a(href="#") Главная
					span /
					a(href="#") Все застройщики
					span /
					a(href="#") ЖК Аксиома
				span.housing-banner-content__title ЖК Аксиома