.housing-content
	.container
		.row
			.col-lg-9.col-md-8.col-sm-12.col-xs-12
				.col-lg-12.col-md-12.col-sm-12.col-xs-12
					.about-developer
						.about-developer-header ЗАО Строитель
						.about-developer-description ЗАО Строитель - один из ведущих застройщиков Новосибирска, работающий на рынке новостроек уже больше 10 лет. Компания возводит высотные монолитно-кирпичные дома в развитых районах недалеко от центра города. Вы можете подобрать для себя квартиру как в целом жилом квартале, так и в домах точечной застройки. Жилые комплексы расположены вблизи станций метро, имеют хорошие транспортные развязки и развитую инфраструктуру. Все квартиры ЗАО Строитель продает с улучшенной чистовой отделкой. Недавно компания завершила строительство своего знакового объекта ЖК Астра. Сейчас идет строительства небольших, но интересных проектов Аксиома и Эталон, планируются новые объекты.
				.col-lg-12.col-md-12.col-sm-12.col-xs-12
					.houserooms-header
						h4 Новостройки от ЗАО Строитель
					.row
						.col-xs-12.col-sm-6.col-md-6.col-lg-4
							include ../../modules/cart-house
						.col-xs-12.col-sm-6.col-md-6.col-lg-4
							include ../../modules/cart-house
						.col-xs-12.col-sm-6.col-md-6.col-lg-4
							include ../../modules/cart-house
						.col-xs-12.col-sm-6.col-md-6.col-lg-4
							include ../../modules/cart-house
						.col-xs-12.col-sm-6.col-md-6.col-lg-4
							include ../../modules/cart-house
						.col-xs-12.col-sm-6.col-md-6.col-lg-4
							include ../../modules/cart-house
			.col-lg-3.col-md-4.col-sm-12.col-xs-12
				.col-lg-12.col-md-12.col-sm-6.col-xs-12
					include ../../modules/share
				.col-lg-12.col-md-12.col-sm-6.col-xs-12
					include ../../modules/share
				.col-lg-12.col-md-12.col-sm-6.col-xs-12
					include ../../modules/share