.wrapper
  padding-top 140px

header
  position fixed
  top 0
  left 0
  z-index 10
  width 100%
  .header-top-wrapper
    background-color #5e5e5e

  .header-bottom-wrapper
    background-color #787878
    box-shadow 0 1px 6px 0 rgba(0, 0, 0, 0.5)

.icon-menu
  size(25px, 25px)
  display none
  position absolute
  right 25px
  fill #fff
  cursor pointer

.mobile-nav
  display none
  transform translateX(100%)
  transition transform .5s
  position fixed
  top 0
  left 0
  bottom 0
  right 0
  z-index 10

  &-head
    display flex
    flex-direction row
    justify-content space-around
    align-items center
    color #fff
    height 90px
    background-color #787878
    box-shadow 0 2px 6px 0 rgba(0, 0, 0, 0.5)

    .icon-close
      size(20px, 20px)
      cursor pointer
      fill #fff
  &-body
    background-color #fff
    height 100%

    .mobile-nav-list
      display flex
      flex-direction column

    .mobile-nav-list__item
      display flex
      justify-content center
      align-items center
      height 42px
      margin 10px 0 10px

      &:last-child
        .icon-phone-call
          size(20px, 20px)
        .mobile-nav-list__item__link
          display flex
          justify-content center
          align-items center
          width: 240px;
          height: 45px;
          border-radius: 100px;
          background-color: #ffffff;
          border: solid 1px #2f223a;

    .mobile-nav-list__item__link
      font-family: PFAgoraSlabPro;
      font-size: 18px;
      text-align: left;
      color: #2f223a;

.header-top
  display flex;
  justify-content space-between
  width 100%
  min-height 50px
  font-size rem(14px)
  font-family SourceSansPro
  background-color #5e5e5e

  .align-center
    position relative
    display flex
    align-items center
    height 100%
    //size(100%, 50px)
    //margin 0 auto
    width 100%
    .header-top__feedback
      a
        display inline-block
        border 1px solid #fff
        height: 30px;
        font-family: SourceSansPro;
        padding 0 5px
        text-decoration: none
        line-height 28px
        color: #fff;
        border-radius: 5px;

  &__info
    color #fff

    &.phone
      margin-left 14px
      font-family SourceSansBold
      &:hover
        color #fff

  &__social
    display flex
    justify-content center

    img
      size(24px, 24px)

    a
      margin-right 10px
      &:last-child
        margin 0

  &__feedback
    text-align right



.header-bottom
  display flex
  align-items center
  justify-content space-between
  size(100%, 90px)
  background-color #787878
  box-shadow 0 1px 6px 0 rgba(0, 0, 0, 0.5)

  .align-center
    display flex
    align-items center
    size(100%, inherit)
    margin 0 auto

  .icon-logo
    fill #fff
    size(153px, 50px)

  .header-nav
    display flex
    justify-content flex-end
    align-items center

    &__item
      margin-left 60px

      &:first-child
        margin: 0

    &__link
      font-size rem(18px)
      font-family SourceSansPro
      color #fff

.underline
  text-decoration underline
