a(href="#").houseroom
	img(src="static/img/content/houseroom/houseroom.jpg").houseroom-img
	h3.houseroom-title ЖК Пифагор
	.houseroom-description
		span.houseroom-description__item Сдано 5 жилых комплексов
		span.houseroom-description__item 10 лет работы на рынке
		.houseroom-description__button Подробнее
