a(href="#").houseroom
	img(src="static/img/content/houseroom/houseroom.jpg").houseroom-img
	h3.houseroom-title ЖК Пифагор
	.houseroom-description
		span.houseroom-description__item Сдача II кв. 2019
		span.houseroom-description__item Площадь от 40 кв.м.
		span.houseroom-description__item Квартиры от 1 000 000 руб.
		span
			+icon("metro")
			span.houseroom-description__item Берёзовая роща
	.houseroom-price Цены от 72 000 за кв.м.
