.filter-wrapper
	button.filter-toggle Открыть фильтр
	.filter
		.row.center
			.filter-row
				.form-group.filter-item
					label.filter-title Район
					select(multiple="multiple").form-control.filter-select
				.form-group.filter-item
					label.filter-title Метро
					select(multiple="multiple").form-control.filter-select
				.form-group.filter-item
					label.filter-title Материал стен
					select(multiple="multiple").form-control.filter-select
				.form-group.filter-item
					button.search-button Найти
			.filter-row
				.form-group.filter-item
					label.filter-title Год сдачи
					select(multiple="multiple").form-control.filter-select
				.form-group.filter-item
					label.filter-title Квартал сдачи
					select(multiple="multiple").form-control.filter-select
				.form-group.filter-item.check
					input(type="checkbox" id="passed")
					label(for="passed") Дом сдан
					input(type="checkbox" id="beside-metro")
					label(for="beside-metro") Рядом с метро
		