footer
	.footer-bottom
		.container
			.row.align-center
				.col-md-2.col-lg-2
					+icon('logo')
				.col-md-10.col-lg-10
					ul.footer-nav
						li.footer-nav__item
							a(href="#").footer-nav__link Застройщики
						li.footer-nav__item
							a(href="#").footer-nav__link Все новостройки
						li.footer-nav__item
							a(href="#").footer-nav__link Ипотека
						li.footer-nav__item
							a(href="#").footer-nav__link Контакты
	.footer-top
		.container
			.row.align-center
				.col-md-4.col-lg-4.col-sm-4.col-xs-12
					span.footer-top__info Звоните нам 24 часа в сутки
					a(href="tel:+7 (383) 263-03-38").footer-top__info.phone +7 (383) 263-03-38
				.col-md-4.col-lg-4.col-sm-4.col-xs-12
					.footer-top__social
						a(href="#")
							img(src="/static/img/general/fb.svg")
						a(href="#")
							img(src="/static/img/general/insta.svg")
						a(href="#")
							img(src="/static/img/general/vk.svg")
				.col-md-4.col-lg-4.col-sm-4.col-xs-12.footer-top__feedback
					a(href="tel:+7 (383) 263-03-38").footer-top__info.underline Заказать звонок от нашего специалиста