.housing-banner
  position relative
  size(100%, 560px)
  z-index: -1;

  .housing-banner-img
    z-index -1
    size(100%)
    absolute(0, 0, 0, 0)


.housing-banner-content
  padding 0 15px

  &__title
    display block
    margin-top 49px
    line-height 1.34
    text-align left
    font-family SourceSansBold
    color #fff
    font-size rem(72px)
    letter-spacing 0.9px
    text-shadow 1px 2px 3px rgba(0, 0, 0, 0.75)

  .service-list
    margin 99px auto 0
    size(100%, inherit)
  .icon
    size(59px, 59px)
    fill transparent
    stroke #fff
  .service-title
    font-size rem(24px)
  .service-description
    font-size rem(14px)

.bread-crumbs
  margin-top 13px
  font-size rem(13px)
  text-align left
  color #ffffff
  span
    padding 0 3px
  a
    font-family PTSans
    font-size rem(13px)
    text-align left
    color #ffffff
    text-decoration underline

.bread-crumbs-content
  margin 25px 0 14px
  padding-left 15px
  color #323232
  a
    color #323232
    &:last-child
      color #33beca

.get-offer
  position absolute
  top 53%
  left 50%
  transform translate3d(-50%, -50%, 0)
  display block
  width: 490px;
  height: 60px;
  border-radius: 5px;
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.6);
  background-color: #fdd835;
  border: solid 1px rgba(120, 120, 120, 0.5);
  font-family: SourceSansPro;
  font-size: 24px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.5;
  letter-spacing: normal;
  text-align: center;
  color: #323232;
  text-decoration: none
  &:hover
    text-decoration: none
    color: #323232;