extends ../layout/main

block variables
	- var title = 'Главная страница'
	- var pageClass = 'index-page'

block content
	include index/banner
	include ../modules/filter
	include  index/section1
	.container
		.row
			.col-md-12
				.enroll-banner(style="background: url('')")
					h3 Лучше один раз увидеть!
					p Запишитесь на бесплатную экскурсию, <br>и мы всё вам покажем вживую. 
					a(href="#") Записаться на экскурсию
	include index/slider
	include index/slider