extends ../layout/main

block variables
	- var title = 'Подборки'
	- var pageClass = 'index-page'

block content
	//include collections/banner
	include ../modules/filter
	include search_result/search_result_content