@media (max-width 1200px)
  .housing-block-title:after
    display none
  .application-form
    border 0 !important
  .col-axiom
    padding-right 15px
  .slider-wrapper
    display none
  #map
    width 100% !important
    margin 0 !important

  .housing-gallery
    &-slide
      width calc(10% - 8px)

      &:nth-child(5n+5)
        margin-right: 8px

      &:nth-child(10n+10)
        margin-right 0


@media (max-width 992px)
  //.header-nav, .footer-nav
  //  display none !important
  .header-top__info.phone
    display block
  .footer-top__info.phone
    display block

  .header-bottom
    .header-nav
      &__item
        margin-left 20px

  .footer-bottom
    .footer-nav
      &__item
        margin-left 20px

  .housing-gallery
    &-slide
      width calc(20% - 8px)

      &:nth-child(5n+5)
        margin-right: 0

      &:nth-child(10n+10)
        margin-right 8px


  .banner-content
    .banner-content__title
      margin-top 10px
    .service-list
      div
        &:nth-child(3)
          clear both
      margin-top 20px
      .icon
        size(35px)

  .housing-block .payment-type-form
    margin 20px auto


@media (max-width 768px)
  .align-center
    div
      text-align center

  .header-top
    .align-center
      display block
  .header-bottom
    display block
    .align-center
      margin-top 20px

  .banner-content
    .service-list
      .service-title
        font-size rem(18px)
      div
        margin-top 5px

  .filter-wrapper
    .check
      display block !important
    transform none
    margin-bottom 20px
    .filter
      .filter-item
        padding 0
        width 50%
      .center
        padding 19px 10px

  .houserooms-header
    flex-direction column
    align-items center
    h4
      margin-bottom 5px

  .footer-bottom
    display block
    .align-center
      display block
      margin-top 20px
      div
        text-align left
  .footer-top
    .align-center
      display block !important


  .housing-banner
    height 250px
    .housing-banner-content__title
      font-size rem(40px)

  .housing-gallery-main
    height auto

  .housing-block-plan_and_price
    table
      display none !important

  .housing-block-payment-type__tab
    display block
    margin 5px auto

  .housing-block
    .payment-type-form
      width 100%
      margin 10px auto
  .housing-block .housing-block-other-offer__filter
    width auto
    height auto
  .housing-block-other-offer__filter
    flex-wrap wrap

  .housing-block .housing-block-application input[type="text"]
    width 100%
  .housing-block .housing-block-application .application-submit
    width 100%
  .housing-block-plan_and_price__link
    margin 10px auto
  .axiom-cart-content
    height auto !important

@media (max-width 768px)
  .header-nav, .footer-nav
    display none !important

  .filter-wrapper.filter-fluid
    margin-top 55px

  .filter-wrapper
    margin-top 0
  .filter
    display none

  .filter-toggle
    display block

  .check
    width 50% !important

  .icon-menu
    display block
  .mobile-nav
    display block

  .share-item
    flex-direction column

    &__img
      margin 9px 20px
  .exclus-offer
    margin 0 auto 30px
    width 90%
    height auto
  
  .filter-wrapper .filter-row
    flex-direction: column
    align-items center

  .filter-wrapper .filter .filter-item
    width 100%
    display flex
    flex-direction: column
    align-items: center
    margin-bottom 10px

@media (max-width 450px)
  .request-call
    font-size 13px !important
    line-height: 2.4 !important
    width auto !important
  .header-phone
    font-size 20px !important
  .exclus-offer
    font-size 12px
  .footer-top__info.call
    width auto
    line-height: 3 !important
    font-size 11px !important
  .enroll-banner a
    margin-top 0
  .filter-wrapper
    margin-top 0
  .filter
    display none !important
    .center
      flex-direction column
      align-items center

      .filter-item
        //width 180px

      select
        width 100%