@font-face
  font-family SourceSansPro
  font-style normal
  src url(/static/fonts/SourceSansPro-Regular.ttf)

@font-face
  font-family SourceSansBold
  font-style normal
  src url(/static/fonts/SourceSansPro-Bold.ttf)

@font-face
  font-family PTSans
  font-style normal
  src url(/static/fonts/PT_Sans-Web-Regular.ttf)

@font-face
  font-family PTSansBold
  font-style normal
  src url(/static/fonts/PT_Sans-Web-Bold.ttf)

@font-face
  font-family FiraSansLight
  font-style normal
  src url(/static/fonts/FiraSans-Light.ttf)

@font-face
  font-family FiraSansRegular
  font-style normal
  src url(/static/fonts/FiraSans-Regular.ttf)

@font-face
  font-family FiraSansSemiBold
  font-style normal
  src url(/static/fonts/FiraSans-SemiBold.ttf)