.housing-content
	.container
		.row
			.col-lg-9.col-md-8.col-sm-12.col-xs-12
				.col-lg-12.col-md-12.col-sm-12.col-xs-12
					.houserooms-header
						h4 Все сданные новостройки Новосибирска
					.row
						.col-xs-12.col-sm-6.col-md-6.col-lg-4
							include ../../modules/cart-house-more
						.col-xs-12.col-sm-6.col-md-6.col-lg-4
							include ../../modules/cart-house-more
						.col-xs-12.col-sm-6.col-md-6.col-lg-4
							include ../../modules/cart-house-more
						.col-xs-12.col-sm-6.col-md-6.col-lg-4
							include ../../modules/cart-house-more
						.col-xs-12.col-sm-6.col-md-6.col-lg-4
							include ../../modules/cart-house-more
						.col-xs-12.col-sm-6.col-md-6.col-lg-4
							include ../../modules/cart-house-more

			.col-lg-3.col-md-4.col-sm-12.col-xs-12
				.col-lg-12.col-md-12.col-sm-6.col-xs-12
					include ../../modules/share
				.col-lg-12.col-md-12.col-sm-6.col-xs-12
					include ../../modules/share
				.col-lg-12.col-md-12.col-sm-6.col-xs-12
					include ../../modules/share
				.col-lg-12.col-md-12.col-sm-6.col-xs-12
					include ../../modules/share