.housing-content
	.container
		.row
			.col-lg-12
				p.bread-crumbs.bread-crumbs-content
					a(href="#") Главная
					span /
					a(href="#") Результаты поиска
		.row
			.col-lg-9.col-md-8.col-sm-12.col-xs-12
				.col-lg-12.col-md-12.col-sm-12.col-xs-12
					.houserooms-header
						h4 Результаты поиска
					.row
						.col-lg-12.col-xs-12.col-sm-12(style="margin-bottom: 20px")
							.housing-block
								.housing-block-description
									.housing-block-title Описание
									p.housing-block-text Высотный и стильный жилой комплекс «Аксиома» от известного застройщика ЗАО «Строитель» возводится в самом сердце Левого берега Новосибирска. Будущим жильцам ЖК «Аксиома» будет доступна вся развитая инфраструктура этого района. Рядом несколько крупных торговых центров, множество магазинов и кафе. Здесь проходят крупные автомагистрали, в пешей доступности станция метро. Застройщик славно потрудился над проектом благоустройства. Во дворе дома появится многоуровневая площадка с детскими площадками, цветником, зоной отдыха и спортивными объектами.
						.col-xs-12.col-sm-6.col-md-6.col-lg-4
							include ../../modules/cart-house
						.col-xs-12.col-sm-6.col-md-6.col-lg-4
							include ../../modules/cart-house
						.col-xs-12.col-sm-6.col-md-6.col-lg-4
							include ../../modules/cart-house
						.col-xs-12.col-sm-6.col-md-6.col-lg-4
							include ../../modules/cart-house
						.col-xs-12.col-sm-6.col-md-6.col-lg-4
							include ../../modules/cart-house
						.col-xs-12.col-sm-6.col-md-6.col-lg-4
							include ../../modules/cart-house
			.col-lg-3.col-md-4.col-sm-12.col-xs-12
				.col-lg-12.col-md-12.col-sm-6.col-xs-12
					include ../../modules/share
				.col-lg-12.col-md-12.col-sm-6.col-xs-12
					include ../../modules/share
				.col-lg-12.col-md-12.col-sm-6.col-xs-12
					include ../../modules/share