.houseroom
  display flex
  flex-direction column
  //size(260px, 374px)
  max-width 260px
  min-height 374px
  border-radius 2px
  background-color #fff
  box-shadow 0 1px 4px 0 rgba(0, 0, 0, 0.31)
  margin 0 auto
  margin-bottom 14px
  &:hover
    text-decoration none
  &-img
    size(100%, 200px)
  &-title
    min-height 45px
    display flex
    align-items center
    padding 12px
    font-family SourceSansPro
    color #fff
    font-size rem(20px)
    size(100%, 45px)
    background-color #33beca
  &-description
    min-height 96px
    display flex
    flex-direction column
    font-family FiraSansRegular
    font-size 14px
    text-align left
    color #999
    padding 8px 12px 5px
    &__item
      margin-bottom 1px

    .icon-metro
      size(20px, 17px)
      stroke #fff
      fill #999
  &-price
    min-height 31px
    display flex
    align-items center
    border-top 1px solid #e5e5e5
    color #999
    padding 0 12px
    size(100%, 31px)
    font-size rem(17px)
    font-family FiraSansSemiBold

.houseroom-description__button
  display block
  width 100%
  height 44px
  border-radius 5px
  background-color #007580
  border solid 1px rgba(120, 120, 120, 0.5)
  text-decoration none
  font-family SourceSansPro
  font-size rem(16px)
  line-height 40px
  margin-top: 20px
  margin-bottom 12px
  text-align center
  color #ffffff