.houseroom-share
  display flex
  flex-direction column
  //size(260px, 262px)
  max-width 260px
  margin 0 auto 12px
  height 262px
  border-radius 2px
  box-shadow 0 1px 4px 0 rgba(0, 0, 0, 0.31)
  border solid 2px #007580
  &:hover
    text-decoration none
  &-img
    size(100%, 217px)
  &-title
    display flex
    align-items center
    padding 0 20px
    size(100%, 45px)
    font-family SourceSansPro
    background-color #007580
    font-size rem(16px)
    line-height: 0.9;
    color #fff
