.share-list
  max-width 860px
  margin 20px auto

.share-item
  display flex
  flex-direction row
  width 100%
  min-height 190px
  background-color #fff

  .share-item__img
    display inline-block
    width 260px
    height 190px

  .share-item-content
    max-width 600px;
    word-wrap break-word
    display inline-block
    background-color #fff
    padding 9px 20px 12px
    
    .share-item__title
      //margin 9px 0 15px 20px
      margin-bottom 15px
      font-family SourceSansPro
      font-size 20px
      font-weight normal
      font-style normal
      font-stretch normal
      line-height normal
      letter-spacing normal
      text-align left
      color #0c0c0c
    
    .share-item__text
      margin-bottom 6px
      min-height 84px
      font-family FiraSans
      font-size 16px
      font-weight normal
      font-style normal
      font-stretch normal
      line-height 1.75
      letter-spacing normal
      text-align left
      color rgba(50, 50, 50, 0.87)

    .share-item__link
      display inline-block
      width 187px
      height 38px
      border-radius 2px
      border solid 1px #33beca
      text-align center
      line-height 37px
      color #33beca
      text-decoration none
      font-family SourceSansPro
      font-size 18px
      margin-right 19px

      &:focus, &:hover
        background-color #33beca
        color #fff

    .share-like
      display: inline-block
      width: 212px;
      height: 38px;
      border-radius: 5px;
      background-color: #fdd835;
      font-family: SourceSansPro;
      font-size: 18px;
      font-weight: 600;
      font-style: normal;
      font-stretch: normal;
      line-height: 2.2;
      letter-spacing: normal;
      text-align: center;
      color: #323232;
      text-decoration: none