.shares-wrapper
	.container
		.row
			.col-md-12
				p.bread-crumbs.bread-crumbs-content
					a(href="#") Главная
					span /
					a(href="#") Акции
		.row
			.share-list
				.share-item
					img(src="").share-item__img
					.share-item-content
						.share-item__title Беспроцентная рассрочка
						.share-item__text They are big, bold and beautiful. Billboards have been around for quite a while. In almost all places nowadays you can find billboards of just about every product there is in the market. No matter how you see it, billboard…
						div
							a(href="#").share-item__link Читать полностью
							a(href="#").share-like МНЕ ЭТО ИНТЕРЕСНО