include ../mixins
block variables

doctype html
html(lang="ru-RU")
	head
		meta(charset="utf-8")
		title #{title}
		<!--[if IE]>
		meta(http-equiv='X-UA-Compatible', content="IE = edge")
		<![endif]-->
		meta(name="viewport" content="width=device-width,initial-scale=1")
		meta(name="keywords" content="")

		link(rel="stylesheet" type='text/css' href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
		link(rel="stylesheet" type='text/css' href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.10/css/bootstrap-multiselect.css")
		link(rel="stylesheet" type='text/css' href="static/css/main.css")

		<!--[if lt IE 9]>
		script(src="http://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js")
		<![endif]-->
	body(class=pageClass)
		.wrapper
			include ../modules/header
			.content
				block content
			include ../modules/footer
		.modal-lids
			span.modal-lids__close
			h4.modal-lids__title Не нашли что искали?<br>Наш специалист перезвонит и поможет вам найти лучший вариант!
			form.modal-lids__form
				input(type="text", placeholder="+7 (XXX) XXX-XX-XX").modal-lids__input
				input(type="submit", value="Позвоните мне").modal-lids__submit
			a(href="#").modal-lids__close_down Нет, спасибо
		script(src="static/js/jquery.js")
		script(src="static/js/libs.min.js")
		script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.10/js/bootstrap-multiselect.min.js")
		script(src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.10.2/jquery-ui.min.js")
		script(src="https://rawgit.com/RobinHerbots/jquery.inputmask/3.x/dist/jquery.inputmask.bundle.js")
		script(src="static/js/main.js")
		script(src="https://maps.api.2gis.ru/2.0/loader.js?pkg=full")
		block script