.shares-wrapper
	.container
		.row
			.col-md-12
				p.bread-crumbs.bread-crumbs-content
					a(href="#") Главная
					span /
					a(href="#") Новости
		.row
			.share-list
				.share-item
					img(src="").share-item__img
					.share-item-content
						.share-item__title Новость 1
						.share-item__text ТекстновостиТекстновостиТекстновостиТекстновостиТекстновостиТекстновостиТекстновостиТекстновостиТекстновостиТекстновостиТекстновостиТекстновостиТекстновостиТекстновости
						a(href="#").share-item__link Читать полностью