section.houserooms
	.container
		.row
			.col-md-3.col-lg-3.col-sm-12.col-xs-12
				.row
					.col-xs-12.col-sm-6.col-md-12.col-lg-12
						include ../../modules/share
					.col-xs-12.col-sm-6.col-md-12.col-lg-12
						include ../../modules/share
					.col-xs-12.col-sm-6.col-md-12.col-lg-12
						include ../../modules/share
			.col-md-9.col-lg-9.col-sm-12.col-xs-12
				.houserooms-header
					h4 Сдача в 2017 году
					a(href="#").houserooms-header__button Смотреть все ЖК 2017
				.row
					.col-xs-12.col-sm-6.col-md-6.col-lg-4
						include ../../modules/cart-house
					.col-xs-12.col-sm-6.col-md-6.col-lg-4
						include ../../modules/cart-house
					.col-xs-12.col-sm-6.col-md-6.col-lg-4
						include ../../modules/cart-house
					.col-xs-12.col-sm-6.col-md-6.col-lg-4
						include ../../modules/cart-house
					.col-xs-12.col-sm-6.col-md-6.col-lg-4
						include ../../modules/cart-house
					.col-xs-12.col-sm-6.col-md-6.col-lg-4
						include ../../modules/cart-house