div(style="background-image: url(/static/img/content/index/slide-bg.jpg);").slider-wrapper.aqua
	.slider(id="slider-news")
		h4.slider-title Горячие предложения
			a(href="").slider-link Читать все новости
		.slider-content
			.slides
				div(style="background-image: url(http://index-city.ru/img/groupe/ef4928d93cfb1543d4a8eda64f3f7056.jpg);").slider-content__slide
				div(style="background-image: url(http://index-city.ru/img/groupe/ef4928d93cfb1543d4a8eda64f3f7056.jpg);").slider-content__slide
				div(style="background-image: url(http://index-city.ru/img/groupe/ef4928d93cfb1543d4a8eda64f3f7056.jpg);").slider-content__slide
				div(style="background-image: url(http://index-city.ru/img/groupe/ef4928d93cfb1543d4a8eda64f3f7056.jpg);").slider-content__slide
				div(style="background-image: url(http://index-city.ru/img/groupe/ef4928d93cfb1543d4a8eda64f3f7056.jpg);").slider-content__slide
				div(style="background-image: url(http://index-city.ru/img/groupe/ef4928d93cfb1543d4a8eda64f3f7056.jpg);").slider-content__slide
		.slider-footer
			a(href="#", style="margin: 20px auto 0").exclus-offer %  Получить эксклюзивное предложение
			.slider-footer-dots
