div(style="background-image: url(/static/img/content/index/slide-bg.jpg);").slider-wrapper.aqua
	.slider(id="slider-news")
		h4.slider-title Горячие предложения
			a(href="").slider-link Читать все новости
		.slider-content
			.slides
				div(style="background-image: url(static/img/content/index/slide-bg.jpg);").slider-content__slide
				div(style="background-image: url(static/img/content/index/slide-bg.jpg);").slider-content__slide
				div(style="background-image: url(static/img/content/index/slide-bg.jpg);").slider-content__slide
				div(style="background-image: url(static/img/content/index/slide-bg.jpg);").slider-content__slide
				div(style="background-image: url(static/img/content/index/slide-bg.jpg);").slider-content__slide
				div(style="background-image: url(static/img/content/index/slide-bg.jpg);").slider-content__slide
				div(style="background-image: url(static/img/content/index/slide-bg.jpg);").slider-content__slide
				div(style="background-image: url(static/img/content/index/slide-bg.jpg);").slider-content__slide
				div(style="background-image: url(static/img/content/index/slide-bg.jpg);").slider-content__slide
		.slider-footer
			.slider-footer-dots
