.about-developer
  border-radius 2px
  box-shadow 0 1px 4px 0 rgba(0, 0, 0, 0.31)
  border solid 1px rgba(0, 0, 0, 0.05)
  margin-bottom 30px

  &-header
    height 50px
    background-color #33beca
    font-family SourceSansPro
    font-size rem(28px)
    text-align left
    color #ffffff
    padding 0 20px
    line-height 46px
    
  &-description
    background-color #ffffff
    font-family FiraSansRegular
    font-size rem(16px)
    line-height 1.88
    text-align left
    color rgba(50, 50, 50, 0.87)
    padding 16px 20px