.help-information-wrapper
	.container
		.row
			.col-lg-12
				p.bread-crumbs.bread-crumbs-content
					a(href="#") Главная
					span /
					a(href="#") Полезная информация
		.col-md-9
			.row
				.col-md-12
					.mortgage-help-information
						.mortgage-help-information-title Полезная информация по ипотеке
						.mortgage-help-information-text Мы хотим чтобы наши клиенты всегда были в курсе всех новостей в сфере недвижимости. Мы хотим чтобы наши клиенты всегда были в курсе всех новостей в сфере недвижимости. Мы хотим чтобы наши клиенты всегда были в курсе всех новостей в сфере недвижимости. Мы хотим чтобы наши клиенты всегда были в курсе всех новостей в сфере недвижимости. Мы хотим чтобы наши клиенты всегда были в курсе всех новостей в сфере недвижимости.
			.row
				.col-md-12
					.mortgage-list.help-information
						.mortgage-item
							img(src="").mortgage-item__img
							.mortgage-item-content
								.mortgage-item__title
									span.name Заголовок
								.mortgage-item__text They are big, bold and beautiful. Billboards have been around for quite a while. In almost all places nowadays you can find billboards of just about every product there is in the market. No matter how you see it, billboard…
								a(href="#").mortgage-help-information-item__link Читать полностью
						.mortgage-item
							img(src="").mortgage-item__img
							.mortgage-item-content
								.mortgage-item__title
									span.name Заголовок
								.mortgage-item__text They are big, bold and beautiful. Billboards have been around for quite a while. In almost all places nowadays you can find billboards of just about every product there is in the market. No matter how you see it, billboard…
								a(href="#").mortgage-help-information-item__link Читать полностью
		.col-md-3
			include ../../modules/share
			include ../../modules/share