.filter-wrapper

  //width 100%
  //transform translateY(-50%)
  //transform translate3d(0, 0, 0)
  margin-top -95px
  margin-bottom 95px
  .filter
    display: flex
    justify-content: center
    margin 0 auto
    //size(1040px, auto)
    //max-width 1040px
    

    &-row
      display: flex
    .center
      display inline-block
      //max-width 880px
      height inherit
      padding 19px 40px 0
      border-radius 5px
      background-color #fff
      box-shadow 0 2px 7px 0 rgba(0, 0, 0, 0.5)
    .filter-item
      display flex
      flex-direction column
      align-items flex-start
      justify-content flex-end
      width 170px
      margin 0
      padding: 0 0 14px
    &-title
      font-size rem(14px)
      font-family FiraSansLight
      text-align left
      color rgba(120, 120, 120, 0.87)
    &-select
      //size(160px, 40px)
      overflow hidden
      //size(100%, 40px)
      border-radius 3px
      font-family FiraSansRegular
      font-size rem(14px)
      color #000
      border solid 1px rgba(120, 120, 120, 0.5)

    .dropdown-menu
      max-width 350px
      max-height 400px
      .checkbox
        white-space normal

.dropdown-menu
  min-width 300px
  font-family FiraSansRegular

.multiselect-selected-text
  display inline-block !important
  width 84% !important
  text-align left !important

.form-control
  padding-left: 10px !important
  padding-right 10px !important

.multiselect-container>li>a>label
  padding: 3px 20px 3px 10px !important

.form-control
  padding 0 10px !important

.filter-title
  margin-bottom 0
  margin-left 5px

.check
  flex-direction row
  align-items center
  justify-content flex-start
  width 180px !important
  input
    display none
    & + label
      position relative
      top 10px
      cursor pointer
      white-space nowrap
      font-family FiraSansLight
      color rgba(120, 120, 120, 0.87)
      font-size rem(14px)
    & + label:before
      content ''
      display inline-block
      size(25px)
      margin-right 10px
      font-size rem(12px)
      line-height 16px
      vertical-align middle
      border solid 1px rgba(120, 120, 120, 0.5)
      border-radius 3px
    &:checked + label:after
      content ''
      position absolute
      top 3px
      left 2px
      background-image url(../img/general/check.svg)
      background-size contain
      background-repeat no-repeat
      size(20px)
.check
  label
    margin-bottom 12px

.filter-fluid
  transform none
  margin 0
  .filter
    width 100%
    max-width 100%
    .row.center
    
      //max-width 880px

.filter-toggle
  display none
  width 50%
  height 40px
  border none
  margin 10px auto

.search-button
  width 160px
  height 34px
  font-family SourceSansPro
  font-size rem(16px)
  color #fff
  border-radius 5px
  background-color #33beca
  border solid 1px rgba(120, 120, 120, .5)
